{% extends '../_includes/template.html' %}

{% block 'contenido' %}
    
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Todas las categorías</span>
                        </div>
                        <ul>
                            <li><a href="shop-grid.html">Monitores</a></li>
                            <li><a href="shop-grid.html">Teclados y Mouses</a></li>
                            <li><a href="shop-grid.html">Tarjetas de Video</a></li>
                            <li><a href="shop-grid.html">RAM</a></li>
                            <li><a href="shop-grid.html">Discos SSD</a></li>
                            <li><a href="shop-grid.html">Portátiles</a></li>
                            <li><a href="shop-grid.html">Celulares</a></li>
                            <li><a href="shop-grid.html">Tablets</a></li>
                            <li><a href="shop-grid.html">Consolas</a></li>
                            <li><a href="shop-grid.html">Aplicaciones</a></li>
                            <li><a href="shop-grid.html">Sitios Web</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="¿Qué necesitas?">
                                <button type="submit" class="site-btn">BUSCAR</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+57 300 423 5239</h5>
                                <span>Soporte 24/7</span>
                            </div>
                        </div>
                    </div>




                    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="hero__item set-bg" data-setbg="/static/img/hero/banner.jpg">
                                    <div class="hero__text">
                                        <span>Más reciente</span>
                                        <h2>CPU Game Max<br />para gamers pro</h2>
                                        <p>100% personalizado, en AMD o Intel</p>
                                        <a href="shoping-details.html" class="primary-btn">CÓMPRALO AHORA</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hero__item set-bg" data-setbg="/static/img/hero/banner.jpg">
                                    <div class="hero__text">
                                        <span>Más reciente</span>
                                        <h2>CPU Game Max<br />para gamers pro</h2>
                                        <p>100% personalizado, en AMD o Intel</p>
                                        <a href="shoping-details.html" class="primary-btn">COTIZA AHORA</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="hero__item set-bg" data-setbg="/static/img/hero/banner.jpg">
                                    <div class="hero__text">
                                        <span>Más reciente</span>
                                        <h2>CPU Game Max<br />para gamers pro</h2>
                                        <p>100% personalizado, en AMD o Intel</p>
                                        <a href="shoping-details.html" class="primary-btn">ÁRMALO AHORA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                   




                    
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories mb-3">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-12">
                        <div class="categories__item set-bg" data-setbg="/static/img/categorias/headphones.jpg">
                            <h5><a href="shop-grid.html">Audifonos</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="categories__item set-bg" data-setbg="/static/img/categorias/keyboard.jpg">
                            <h5><a href="shop-grid.html">Teclados</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="categories__item set-bg" data-setbg="/static/img/categorias/laptops.jpg">
                            <h5><a href="shop-grid.html">Portátiles</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="categories__item set-bg" data-setbg="/static/img/categorias/monitor.jpg">
                            <h5><a href="shop-grid.html">Monitores</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="categories__item set-bg" data-setbg="/static/img/categorias/mouse.jpg">
                            <h5><a href="shop-grid.html">Mouses</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-lg-12 d-none">
        <div class="categories__item set-bg" data-setbg="/static/img/categories/cat-2.jpg">
            <h5><a href="#">Dried Fruit</a></h5>
        </div>
    </div>
    <!-- Categories Section End -->
    
    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="container-fluid h-100 py-5 banner_home1">
                        <div class="row h-100 align-items-center">
                            <div class="col-6"><img src="/static/img/home/portatiles.jpeg" alt="Portatiles"></div>
                            <div class="col-6">
                                <h3 class="fstrong">Estrena portátil</h3>
                                <p>Hasta 25% en descuentos</p>
                                <a href="shop-grid.html" class="primary-btn">COMPRA HOY</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="container-fluid h-100 py-5 banner_home2">
                        <div class="row h-100 align-items-center">
                            <div class="col-6"><img src="/static/img/home/smartphones.jpeg" alt="Portatiles"></div>
                            <div class="col-6">
                                <h3 class="fstrong">Compra celular</h3>
                                <p>10% de descuento en línea premium</p>
                                <a href="shop-grid.html" class="primary-btn">MÁS INFORMACIÓN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad mb-5">
        <div class="container">
            <div class="row">
                <div class="d-none d-md-block col-lg-4 col-md-6">
                    <img src="/static/img/home/technology.jpeg" alt="" class="h-100 object-fit-center">
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Últimos productos</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="shop-details.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/static/img/productos/teclado1.jpg" alt="Teclado">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Logitech Mk235, Combo Inalámbrico Teclado Multimedia Y Mouse</h6>
                                        <span>$99.900</span>
                                    </div>
                                </a>
                                <a href="shop-details.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/static/img/productos/teclado2.jpg" alt="Teclado">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>
                                            Teclado gamer Redragon Kumara K552 QWERTY Outemu Blue español latinoamérica color negro con luz roja</h6>
                                        <span>$159.900</span>
                                    </div>
                                </a>
                                <a href="shop-details.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/static/img/productos/teclado3.jpg" alt="Teclado">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Combo Gamer Teclado Usb Con Ñ + Mouse Óptico Usb Con Luces</h6>
                                        <span>$119.900</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="shop-details.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/static/img/productos/monitor1.jpg" alt="Monitor">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Monitor gamer Samsung F24T35 led 24 " azul y gris oscuro 100V/240V</h6>
                                        <span>$739.900</span>
                                    </div>
                                </a>
                                <a href="shop-details.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/static/img/productos/monitor2.jpg" alt="Monitor">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Monitor gamer curvo Samsung C27R500FHL led 27 " dark blue gray 100V/240V</h6>
                                        <span>$953.900</span>
                                    </div>
                                </a>
                                <a href="shop-details.html" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/static/img/productos/monitor3.jpg" alt="Monitor">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Monitor gamer curvo Asus Tuf Gaming VG24VQ led 23.6 " negro 100V/240V</h6>
                                        <span>$1.145.900</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block col-lg-4 col-md-6 home_banner3">
                    <h3 class="mt-3 ml-3 text-right blanco t-shadow-1">Tecnología</h3>
                    <p class="text-right blanco t-shadow-1">Los mejores Gadgets</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

{% endblock %}