{% extends '_includes/template.html' %}

{% block 'contenido' %}
    
    <div class="contenido_total container">
        <div class="row">
            <div class="col-12">
                <h1>{{titulo}}</h1>
                <div class="todo_contenido py-5" style="min-height:600px;">
                    <p>Somos el Grupo de Aprendices del ADSI190 conformado por los siguientes integrantes:</p> <p>Diana Marcela Fonseca, Lina Isabel Dorado, Fabio Mosquera, Jhon W. Martinez, Isaac Hernandez, Malcolm Medina, Edwar Delgado, Andres Aristizabal, Jose Huila, Jhan Sanchez, Jhonatan Diaz. De los cuales cada uno fue de vital importancia por su sacrificio, esfuerzo,  pasión  y aporte en cada detalle este proyecto llamado Sofbox 190.</p><p> Llamado así por ser una caja llena de soluciones tecnológicas.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}